# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/
flutter_*.png
*.iml
*.lock
*.pdb
*.swp
.DS_Store
.idea/
.vscode/
.svn/
*.log
coverage/
android/.gradle
android/local.properties
android/app/google-services.json
ios/Pods/
ios/Flutter/App.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/app.flx
ios/Flutter/app.zip
ios/Flutter/flutter_assets/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Keys
*.p12
*.pem
*.key
*.jks
*.keystore
*.p8
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Secrets
.env
.env.local
*.secret
secrets/
keys/
credentials/